<a href="https://colab.research.google.com/github/harshsinha-12/GoogleCollabTutorial/blob/main/PandasIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# series from Scalar value with defined index value
import pandas as pd
series2 = pd.Series(10, [0,1,2,3])
print(series2)

0    10
1    10
2    10
3    10
dtype: int64

In [10]:
name = pd.Series(['Harsh', 'Annu'])
topic = pd.Series(['FinTech', 'Anime'])
dic3 = {'Name' : name, 'Interest' : topic}
df5 = pd.DataFrame(dic3)
print(df5)

    Name Interest
0  Harsh  FinTech
1   Annu    Anime

In [11]:
lst3 = [[5,6,8],[3,6]]
df2 = pd.DataFrame(lst3, index = [0,1], columns = [2,3,4])
print(df2)

   2  3    4
0  5  6  8.0
1  3  6  NaN

In [12]:
lst = [10,11,12,13,14,15]
s4 = pd.Series(lst)
print(s4)
print(s4.describe)
print(s4.describe())

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64
<bound method NDFrame.describe of 0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64>
count     6.000000
mean     12.500000
std       1.870829
min      10.000000
25%      11.250000
50%      12.500000
75%      13.750000
max      15.000000
dtype: float64

In [13]:
series1 = pd.Series(10)
print(series1)

0    10
dtype: int64